# Datin App Code Owners
# These owners will be requested for review when someone opens a pull request.

*                           @datin-platform/frontend-team
/src/components/**          @datin-platform/ui-team
/.github/**                 @datin-platform/devops-team
/Dockerfile                 @datin-platform/devops-team
